numpy
scipy
pillow
opencv-python<4.5.5 # pip19
imageio
lz4
tqdm
adbutils==0.11.0
uiautomator2==2.16.17
retrying
jellyfish
pyyaml
inflection
pywebio==1.7.1
starlette
anyio
uvicorn[standard]
aiofiles
wrapt
pypresence==4.2.1
alas-webapp==0.3.7
rich==11.2.0 # https://github.com/LmeSzinc/AzurLaneAutoScript/issues/1463
zerorpc
pyzmq
onepush
pydantic
psutil<5.9.4 # pip19
av
mxnet-alas
watchfiles<0.15 # pip19, from uvicorn