adbutils==0.11.0
aiofiles==25.1.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
apkutils2==1.0.0
av==18.1.0
cached-property==1.5.2
certifi==2026.7.22
charset-normalizer==3.5.0
cigam==0.0.3
click==8.4.2
colorama==0.4.6
decorator==5.3.1
deprecated==1.2.18
deprecation==2.1.0
fastapi==0.141.1
filelock==3.32.3
flatbuffers==25.12.19
h11==0.16.0
idna==3.18
imageio==2.37.4
inflection==0.5.1
jellyfish==1.2.1
logzero==1.7.0
lxml==6.1.1
lz4==4.4.5
markdown-it-py==4.2.0
mdurl==0.1.2
numpy==2.5.2
onepush==1.4.0
onnxruntime==1.28.0
opencv-python-headless==4.14.0.94
packaging==20.9
pillow==12.3.0
prettytable==3.18.0
progress==1.6.1
protobuf==7.35.1
psutil==7.2.2
py==1.11.0
pycryptodome==3.23.0
pydantic==2.13.4
pydantic-core==2.46.4
pyelftools==0.33
pygments==2.20.0
pyparsing==3.3.2
pypresence==4.2.1
pyyaml==6.0.3
requests==2.34.2
retry==0.9.2
rich==15.0.0
scipy==1.18.0
six==1.17.0
starlette==1.6.0
tqdm==4.70.0
typing-extensions==4.16.0
typing-inspection==0.4.4
uiautomator2==2.16.17
uiautomator2cache==0.3.0.1
urllib3==2.7.0
uvicorn==0.52.3
wcwidth==0.8.2
websockets==17.0.1
whichcraft==0.6.1
wrapt==1.17.3
xmltodict==1.0.4
