adbutils==0.11.0
aiofiles
anyio==1.3
av==10
fastapi==0.135
imageio
inflection
jellyfish==0.11.2
lz4
numpy
onepush==1.4.0
onnxruntime==1.20
opencv-python==4.12
pillow==9.5
prettytable==2.2
psutil==5.9
pycryptodome==3.10.4
pydantic==2.10
pypresence==4.2.1
pyyaml
rich==11
scipy==1.7.1
starlette==0.40
tqdm
uiautomator2==2.16.17
uiautomator2cache==0.3.0.1
uvicorn==0.49
websockets==12
wrapt==1.14