details {
    border: unset !important;
    padding-bottom: unset !important;
    margin-bottom: .25rem !important;
}

details[open]>summary {
    border-bottom: unset;
}

details[open]>div {
    margin-left: 0.625rem;
}

summary {
    background-color: transparent;
    font-weight: 500;
}

body {
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    display: none;
}

.btn:focus {
    box-shadow: unset;
}

.btn-menu {
    font-weight: 400;
    background-color: transparent;
    padding: .0625rem .75rem;
    border-radius: 0;
    border: 0 solid;
    transition: border .05s ease-in-out, padding .05s ease-in-out;
    white-space: pre-wrap;
    text-align: left;
}

.btn-menu:hover, .btn-menu-active {
    font-weight: bold;
    border-left: .125rem solid;
    padding-right: .625rem;
    border-left: 3px solid;
    border-color: #4E4C97;
    color: #4E4C97;
}

.btn-aside {
    width: 4rem;
    font-weight: 400;
    font-size: .8rem;
    background-color: transparent;
    padding: 32px 0 0 7px;
    border-radius: 0;
    border: 0 solid;
    transition: border .1s ease-in-out, padding .1s ease-in-out
}

.btn-aside:hover, .btn-aside-active {
    border-left: 4px solid;
    padding-left: 3px;
    border-color: #4E4C97;
    color: #4E4C97;
    font-weight: bold;
}

.btn-scheduler-on {
    border: 1px solid lightgrey;
    border-radius: 0;
    margin: 0;
}

.btn-scheduler-off {
    border: 1px solid lightgrey;
    border-radius: 0;
    margin: 0;
    background-color: #4E4C97;
    color: white;
}

.btn-scheduler-off:hover {
    color: white;
}

.toastify-center, .toastify-right, .toastify-left{
    margin-top: 3.3125rem;
}

.pywebio {
    padding-top: 0;
    padding-bottom: 0;
    min-height: unset;
}

#input-container {
    margin-bottom: 0;
}

#output-container {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    max-width: initial
}

.container {
    max-width: 100vh;
}

.hr-group {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
}

input[type="text"]{
    border-radius: initial !important;
    border: unset !important;
    border-bottom: .125rem solid #4E4C97 !important;
    padding: 0 .5rem 0 !important;
    margin-top: .125rem;
    height: auto !important;
}

select {
    border-radius: initial !important;
    border: unset !important;
    border-bottom: .125rem solid #4E4C97 !important;
    padding: 0 .25rem 0 !important;
    margin-top: .125rem;
    height: auto !important;
}

input[type="text"]:not([readonly="readonly"]):focus, select:focus {
    box-shadow: 0 .06rem 0 #4E4C97 !important;
}

input[readonly="readonly"]:focus {
    box-shadow: initial;
}

input[type="range"] {
    padding: 0 !important;
    border: unset !important;
    border-radius: initial !important;
    border-bottom: .125rem solid #4E4C97 !important;
}

input[type="radio"] {
    margin-left: -12px !important;
}

input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
}

.form-check {
    display: inline;
    padding-left: .75rem;
}

.form-check-label {
    padding-left: 8px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white;
    opacity: 1;
    color: lightgrey;
}

textarea {
    border: 1px solid lightgrey;
}

.CodeMirror {
    height: auto !important;
}

.CodeMirror-wrap {
    border: 1px solid lightgrey;
}

.form-group {
    margin-bottom: 0 !important;
}

.container-log {
    border: 1px solid lightgray;
    border-radius: 0 !important;
    margin: .375rem !important;
    padding: 1rem !important;
    background-color: white !important;
}

*[style*="container-aside"] {
    z-index: 91;
    background: #ffffff;
    padding-left: .125rem;
    padding-right: .325rem;
    padding-top: 1rem;
    overflow-y: auto;
    border-right: 1px solid lightgrey;
}

*[style*="container-menu"] {
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    z-index: 90;
    padding-left: .5rem;
    padding-top: 1.2rem;
    overflow-y: auto;
    min-width: 12rem;
    max-width: 16rem;
}

*[style*="container-content"] {
    background-color: #F9F9F9;
    margin: 0;
    overflow: auto;
    padding: .625rem
}

*[style*="title-icon-alas"] {
    margin: .25rem 2rem .25rem 1rem;
}

*[style*="title-text-alas"] {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: .5rem;
    margin-bottom: 0;
}

*[style*="title-text-title"] {
    font-size: 1.2rem;
    padding-top: .75rem;
    margin-bottom: 0;
    text-align: center;
    overflow: hidden;
}

*[style*="title-status"] {
    margin-top: 1rem;
}

*[style*="container-title"] {
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    z-index: 100;
    border-color: lightgrey;
    grid-template-columns: 5.6rem 3.75rem 8rem minmax(5rem, 65rem) !important;
}

*[style*="aside-icon-setting"] {
    padding-top: .5rem;
    border-top: 1px solid lightgrey;
}

*[style*="container-main"] {
    margin-top: 0;
    overflow-y: auto;
}

*[style*="container-all"] {
    height: 100%;
}

*[style*="container-gui"] {
    height: 100vh;
}

*[style*="group-title"] {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 .25rem 0 .25rem !important;
}

*[style*="group-help"] {
    font-size: .80rem;
    color: #777777;
    margin: .2rem .25rem .1rem .25rem !important;
}

*[style*="group-overview-title"] {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 0.625rem 0 !important;
}

*[style*="container-group"] {
    background-color: white;
    margin-top: .75rem;
    margin-bottom: .25rem;
    padding: 1rem;
    border: 1px solid lightgrey;
}

*[style*="container-overview-group"] {
    background-color: white;
    font-weight: 500;
    margin: 0.3125rem;
    padding: 0.625rem;
    border: 1px solid lightgrey;
    overflow-y: auto;
}

*[style*="container-overview-task"] {
    overflow-y: auto;
    height: 100%;
}

*[style*="container-args"] {
    margin: .125rem 0 .125rem 0
}

*[style*="container-overview-args"] {
    margin: .125rem .625rem .125rem .375rem
}

*[style*="container-large.args"] {
    margin-top: .375rem;
    margin-bottom: .375rem;
}

*[style*="arg-title"] {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 .25rem 0 .25rem !important;
    overflow-wrap: break-word;
}

*[style*="arg-help"] {
    font-size: .8rem;
    color: #777777;
    margin: .2rem .25rem .1rem .25rem !important;
    overflow-wrap: break-word;
}

*[style*="input-input"] {
    margin: 0;
    padding-right: .25rem;
}

*[style*="welcome"] {
    background-color: white;
    margin: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    border: 1px solid lightgrey;
}