# Image processing
numpy==1.17.4
scipy==1.4.1
pillow==9.5.0
opencv-python-headless==4.7.0.72
imageio==2.27.0

# Device connection
adbutils==0.11.0
uiautomator2==2.16.17
uiautomator2cache==0.3.0.1
wrapt==1.15.0
retrying==1.3.4
lz4==4.3.2
av==10.0.0
psutil==5.9.3

# Utils
rich==11.2.0
tqdm==4.65.0
jellyfish==0.11.2
pyyaml==6.0
inflection==0.5.1
pydantic==1.10.9
aiofiles==23.1.0
prettytable==2.2.1
anyio==1.3.1

# Pushing
onepush==1.4.0
pycryptodome==3.9.9
pypresence==4.2.1

# Ocr
cnocr==1.2.2
mxnet==1.6.0

# Webui
pywebio==1.6.2
starlette==0.14.2
uvicorn[standard]==0.17.6
zerorpc==0.6.3
pyzmq==22.3.0