auto-install-peers=true
electron_mirror=https://npmmirror.com/mirrors/electron/
lockfile=false
resolution-mode=highest
shamefully-hoist=true
node-linker=hoisted
registry=https://registry.npmmirror.com
